

* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
	font-family: "Darker Grotesque" !important;
}

/*-- Hero section starts here -- */

.video-container {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

.video-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #1b1b1b;
	opacity: 0.8;
}

.header {
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
}

.header h1 {
	color: #d3ae87;
	font-size: 80px !important;
}

@media(max-width: 900px) {
	.header {
		left: 50%;
	}

	.header h1 {
		font-size:34px !important;
		text-align: center;
	}
}



/*-- Navigation section starts here -- */

.navbar {
      width: 100%;
      position: fixed;
      z-index: 2;
      opacity: 50%;
}

.navbar .scrolled {
      opacity: 100%
      transition: background-color 500ms linear;
}

.navbar #brand {
      float: left;
      display: block;
      margin-left: 40px;
      line-height: 80px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
}

.navbar li a, .navbar-brand {
      color: #fff;
      font-family: Poppins !important;
      transition: all 500ms ease-out;
      line-height: 25px;
      font-weight: bold;
}

.navbar .navbar-brand:hover {
	color: #FFD700 ;
}

.nav-item .nav-link:hover {
	color: #FFD700;
	background: #000;
}

/*-- Navigation section ends here -- */


/*-- About section starts here -- */

.content {
	position: absolute;
	margin-top: 100vh;
	width: 100%;
}

section {
	padding: 140px 0;
}

.section-index {
	color: #d3ae87;
	font-weight: bolder;
	font-size: 20px;
	font-family: Poppins !important;
}

.section-heading {
	color: grey;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 22px;

}

.section-subheading {
	color: grey;
	margin: 10px 0;

}

.section-info {
	font-size: 24px;
	color: grey;
}

.more {
	margin: 40px 0;
}

button {
	background: none;
	border: .3pt solid rgba(184,140,93,0.7);
	text-transform: uppercase !important;
	font-size: 12px !important;
	letter-spacing: 2px;
	padding: 18px 36px;
}

.story button {
	background: #000;
	color: #fff;
}

.story button:hover {
	background: #FFD700;
	color: #000;
}

/*-- About section ends here -- */

/*-- Service section starts here -- */

.services {
	background: #161616;
}

.service {
	margin: 30px 0;
}

.icon ion-icon {
	font-size: 36px;
	color: #d3ae87;
}

.icon-title {
	font-size: 28px;
	margin-bottom: 4px;
	color: rgb(182,182,182);
	font-weight: lighter;
}

/*-- Service section ends here -- */

/*-- Our Team section starts here -- */

.team-member, .team-img {
	position: relative;
}

.team-img {
	background-color: grey;
	height: 340px;
}

.members {
	margin: 50px 0;
}

.team-title {
	margin: 20px 0;
}

.team-title h5 {
	font-size: 28px;
}

.team-title span {
	font-size: 20px;
}

.team-member {
	overflow: hidden;
}

.team-one {
	background: url(team-one.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.team-two {
	background: url(team-two.jpg) no-repeat 50% 50%;
	background-size: cover;
}

/*-- Our Team section ends here -- */

/*-- Newsletter section starts here -- */

.newsletter {
	padding: 140px 0;
	background: #161616;
}

.newsletter input {
	font-size: 24px;
	color: black;
}

.newsletter .news-data {
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.newsletter h1 {
	color: #fff;
	margin-bottom: 40px;

}

.newsletter .form-control {
	height: 50px;
	border-color: #fff;
	border-radius: 0 !important;
}

.form-control:focus {
	box-shadow: none !important;
	border: none !important;
}

::placeholder {
	letter-spacing: 4px;
}

.newsletter .btn {
	min-height: 50px;
	padding: 0 30px;
	border-radius: 0;
	background:  #2F4F4F;
	border-color: none;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: Poppin !important;
}

.newsletter .btn:hover {
	
	background: #FFD700;
	color: #000;
	
}


/*-- Newsletter section ends here -- */

/*-- Contact section starts here -- */

#contact-form {
	margin: 5% 0;
}

.contact .icon-title {
	margin-top: 10px;
	color: #000;
}

#contact-form ul {
	list-style: none;
	margin-bottom: 40px;
	border-radius: 0;
}

#contact-form li:last-of-type {
	border-bottom: none;
}

#contact-form label {
	display: block;
	font-size: 22px;
	color: rgb(97,97,97);
}

#contact-form input, #contact-form textarea {
	width: 100%;
	padding: 5px;
	border: none;
	resize: vertical;
	background: transparent;
	color: #101010;
	font-weight: bolder;
}

input:focus {
	outline: none !important;
	border: none !important;
}

textarea:focus {
	outline: none !important;
	border: none !important;
	
}

.textarea {
	border: 1px solid #c9c9c9;
	font-size: 24px;
}

@media(max-width: 900px) {
	#contact-form {
		margin: 5% 0;
		width: 98%;
	}
}

.contact .send {
	background: #000;
	color: #fff;
	font-family: Poppin !important;
	font-weight: 600;
	font-size: 25px;
}

.contact .send:hover {
	background: #FFD700;
	color: #000;
}

/*-- Contact section ends here -- */

/*-- Footer section starts here -- */

.footer {
	background-color: #161616;
}

#media, #address, #mail {
	text-align: center !important;
}

.footer .container {
	padding: 160px 0;
}

.footer li, p, h4 {
	font-size: 24px !important;
}

.footer h4 {
	font-weight: lighter;
	color: #fff;
}

.footer p {
	color: #fff;
	font-weight: lighter;
}

.footer li {
	font-weight: lighter;
	color: #fff;
	padding-left: 20px;
	font-size: 18px !important;
}

#media ul {
	list-style: none;
}

#media ul li {
	display: inline-block;
}

.footer #media ul li a {
	color: #fff;
	font-size: 25px;
}

.footer #media ul li a:hover {
	color: #FFD700;
}

@media(max-width: 900px) {
	.footer .container {
		width: 92% !important;
	}
}
/*-- Footer section ends here -- */
